<div class="jumbotron jumbotron-fluid bg-dark border border-danger">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-1 text-warning"><strong>Eat-A-Burger</strong></h1>
        <p class="lead text-warning">Hungry? Why not devour a burger! Or add a tasty one to the menu, then devour it!</p>
      </div>
      <div class="col-4">
        <img src="../assets/images/5a1d25621b5e07.1441223815118595541121.png" alt="burger vector" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 text-warning">
      <h1 class="display-3">Burgers:</h1>
      <ul class="list-group"><h4>
        {{#each burgers}}
        <br>
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </h4></ul>
    </div>
    <div class="col-3 offset-1 text-warning border border-danger">
      <br>
      <h2>Add a Burger</h2>
      <form class="create-form">

      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input class="border border-danger" type="text" id="burg" name="name">
      </div>

      <button type="submit" class="btn btn-outline-warning btn-sm rounded">ADD BURGER</button>
      </form>

    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-12 text-warning">
      <h1 class="display-4">Devoured Burgers:</h1>
      <ul class="list-group"><h4>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </h4></ul>
    </div>
  </div>
</div>
<br>
<br>



  {{!-- <div class="form-group">
    <label for="dev">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div> --}}


