<div class="jumbotron jumbotron-fluid bg-dark border border-danger">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-1 text-warning">Eat-A-Burger</h1>
        <p class="lead text-warning">Hungry? Why not devour a burger! Or add a tasty one to the menu, then devour it!</p>
      </div>
      <div class="col-4">
        <img src="../assets/images/burgervector.png" alt="burger vector" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-warning border border-danger">
        <br>
        <h1 class="text-center">Add a Burger</h1>
        <form class="create-form">

        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input class="border border-danger" type="text" id="burger" name="name">
        </div>

        <button type="submit" class="btn btn-outline-warning btn-sm mx-auto">ADD BURGER</button>
        </form>
        <br>
      </div>
      <div class="col-4"></div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 text-warning border-right border-danger">
      <h1 class="display-4 text-center">Burger Menu</h1>
      <ul class="list-group"><h6>
        {{#each burgers}}
        <br>
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </h6></ul>
    </div>
    <div class="col-6 text-warning">
      <h1 class="display-4 text-center">Devoured</h1>
      <ul class="list-group"><h6>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </h6></ul>
    </div>
  </div>
</div>
<br>
<br>



